:root {
    --move-x-1: 0;
    --move-y-1: 0;

    --move-x-2: 0;
    --move-y-2: 0;

    --move-x-3: 0;
    --move-y-3: 0;

    --move-x-4: 0;
    --move-y-4: 0;

    --scale-1: 1;
    --scale-2: 1;
    --scale-3: 1;
    --scale-4: 1;
}

.center {
    background-color: #353535;
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 1px solid #D9D9D9;
    filter: drop-shadow(0 20px 10px rgba(66, 63, 63, 0.321));
}

.scroll-area {
    height: 100vh;
    width: 100vw;
    background-color: #3C6E71;
    position: relative;
    overflow: hidden;
}

.move-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-1)) translateY(var(--move-y-1));
    scale: var(--scale-1);
}

.move-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-2)) translateY(var(--move-y-2));
    scale: var(--scale-2);
}

.move-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-3)) translateY(var(--move-y-3));
    scale: var(--scale-3); /* On different line because only works in transform with !important ^ */
}

.move-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-4)) translateY(var(--move-y-4));
    scale: var(--scale-4);
}

.transition-1s {
    transition: all 1s;
}