:root {
    --move-x-1: 0;
    --move-y-1: 0;
    --move-x-2: 0;
    --move-y-2: 0;
    --move-x-3: 0;
    --move-y-3: 0;
    --move-x-4: 0;
    --move-y-4: 0;
  }
  
  .center {
    background-color: rgba(255, 166, 0, 0.531);
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 10px;
  }

  .scroll-area {
    height: 100vh;
    width: 100%;
    background-color: rgba(190, 70, 70, 0.612);
    position: relative;
  }

.move-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-1)) translateY(var(--move-y-1));
}

.move-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-2)) translateY(var(--move-y-2));
}

.move-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-3)) translateY(var(--move-y-3));
}

.move-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(var(--move-x-4)) translateY(var(--move-y-4));
}

